In [1]:
# import the required libraries
import numpy as np

import pandas as pd

import json

import math

# Here we open the test file, the file directory location should be changed 
# to match its location
with open(r'/workspace/jupiter_app/frtb/equity_test1/input data/input_json.json') as data_file:    
    data = json.load(data_file)

# we normalize the data to give it a flat structure
dataframe1  = pd.json_normalize(data, 'data', ['date',  'name'], 
                    record_prefix='contract_')
dataframe1.head()

,contract_id,contract_date,contract_asset_class,contract_currency_code,contract_end_date,contract_mtm_dirty,contract_notional_amount,contract_payment_type,contract_receive_type,contract_start_date,contract_type,contract_trade_date,contract_value_date,date,name
0,swap_1,2017-01-17T00:00:00Z,ir,USD,2019-01-17T00:00:00Z,-1500,10000,fixed,floating,2017-01-10T00:00:00Z,vanilla_swap,2017-01-10T00:00:00Z,2017-01-16T00:00:00Z,2017-01-17T00:00:00Z,Derivatives Data
1,swap_2,2017-01-17T00:00:00Z,ir,GBP,2019-01-17T00:00:00Z,1400,10500,fixed,floating,2017-01-10T00:00:00Z,vanilla_swap,2017-01-10T00:00:00Z,2017-01-16T00:00:00Z,2017-01-17T00:00:00Z,Derivatives Data
2,swap_3,2017-01-17T00:00:00Z,ir,GBP,2019-01-17T00:00:00Z,1400,10500,floating,fixed,2017-01-10T00:00:00Z,vanilla_swap,2017-01-10T00:00:00Z,2017-01-16T00:00:00Z,2017-01-17T00:00:00Z,Derivatives Data
3,swap_4,2017-01-17T00:00:00Z,ir,GBP,2017-06-17T00:00:00Z,1400,10500,fixed,floating,2017-01-10T00:00:00Z,vanilla_swap,2017-01-10T00:00:00Z,2017-01-16T00:00:00Z,2017-01-17T00:00:00Z,Derivatives Data
4,swap_5,2017-01-17T00:00:00Z,ir,GBP,2027-06-17T00:00:00Z,1400,10500,fixed,floating,2017-01-10T00:00:00Z,vanilla_swap,2017-01-10T00:00:00Z,2017-01-16T00:00:00Z,2017-01-17T00:00:00Z,Derivatives Data